In [2]:
import pandas as pd
import numpy as np

In [10]:
df = pd.read_csv('../data/raw/saleshourly.csv')
df.head()

,datum,M01AB,M01AE,N02BA,N02BE,N05B,N05C,R03,R06,Year,Month,Hour,Weekday Name
0,1/2/2014 8:00,0.0,0.67,0.4,2.0,0.0,0.0,0.0,1.0,2014,1,8,Thursday
1,1/2/2014 9:00,0.0,0.00,1.0,0.0,2.0,0.0,0.0,0.0,2014,1,9,Thursday
2,1/2/2014 10:00,0.0,0.00,0.0,3.0,2.0,0.0,0.0,0.0,2014,1,10,Thursday
3,1/2/2014 11:00,0.0,0.00,0.0,2.0,1.0,0.0,0.0,0.0,2014,1,11,Thursday
4,1/2/2014 12:00,0.0,2.00,0.0,5.0,2.0,0.0,0.0,0.0,2014,1,12,Thursday

In [25]:
%%bash
cd /mnt/c/Users/Jason/OneDrive/Desktop/otc_demand_mapping

In [26]:
%%bash
git status

On branch main
nothing to commit, working tree clean

In [ ]:
%%bash
git add notebooks/01_data_exploration.ipynb